.opt-wrapper {
  width: 100%;
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.list-wrapper {
  padding-left: 0;
  flex: 1;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opt-li {
  text-indent: 5px;
  opacity: 70%;
  margin: 5px 5px;
  font-family: "8BIT WONDER", sans-serif;
  color: var(--text);
  border-radius: 6px;
  display: flex;
  flex: 1;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  text-overflow: ellipsis;
  justify-content: space-between;
  background-color: var(--container);
}
.btn-li-opt {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f8f2e1;
  width: auto;
  cursor: pointer;
  border: 2px solid rgb(128, 26, 26);
  background-color: #454857;
  border-radius: 100%;
}

.opt-wrapper-ipt {
  margin-left: 75px;
  width: 70%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opt-wrapper-ipt > input[type="text"] {
  justify-self: center;
  box-shadow: 10px 10px 8px RGBA(0, 0, 0, 0.25);
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #1a1c2c;
  background-color: var(--text-white);
  flex: 9;
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
  transition: border-color 0.3s ease-in-out;
  min-height: 0.8rem;
  max-height: 0.8rem;
}

.opt-wrapper-ipt > input[type="text"]:focus {
  outline: none;
  border-color: blue;
}

#add-opt {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  min-width: 50px;
  min-height: 30px;
  color: #f8f2e1;

  cursor: pointer;
  background-color: var(--container);

  border-radius: 5px;
  box-shadow: 10px 10px 8px RGBA(0, 0, 0, 0.25);
}

#add-opt:hover {
  background-image: linear-gradient(180deg, #5ac54f, #2a2f4e);
}

.check-opt {
  display: flex;
  flex: 1;
  opacity: 60%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 150px;
  min-height: 40px;
  color: #f8f2e1;
  width: auto;
  cursor: pointer;
  background-color: #454857;
  border-radius: 5px;
  box-shadow: 10px 10px 8px RGBA(0, 0, 0, 0.25);
}

.correct {
  background-color: #0ce900;
  font-weight: bold;
  opacity: 100%;
}

.check-ipt {
  display: none;
}
