.opt-wrapper {
  width: 100%;
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.list-wrapper {
  padding-left: 0;
  flex: 1;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opt-li {
  list-style: circle;
  opacity: 70%;
  margin: 5px 5px;
  font-family: "8BIT WONDER", sans-serif;
  color: var(--text);
  border-radius: 6px;
  display: flex;
  flex: 1;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--container);
}

.opt-wrapper > input[type="text"] {
  box-shadow: 10px 10px 8px #468158;
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1a1c2c;
  background-color: #94b0c2;
  flex: 1;
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
  transition: border-color 0.3s ease-in-out;
  min-height: 0.8rem;
  max-height: 0.8rem;
  width: 70%;
}

.opt-wrapper > input[type="text"]:focus {
  outline: none;
  border-color: blue;
}

.opt-wrapper > button {
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 150px;
  min-height: 40px;
  color: #f8f2e1;
  width: auto;
  cursor: pointer;
  background-color: #454857;

  border-radius: 5px;
  box-shadow: 10px 10px 8px #468158;
}

.opt-wrapper > button:hover {
  background-image: linear-gradient(180deg, #95d891, #74bbad);
}

.check-opt {
  display: flex;
  flex: 1;
  opacity: 60%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 150px;
  min-height: 40px;
  color: #f8f2e1;
  width: auto;
  cursor: pointer;
  background-color: #454857;
  border-radius: 5px;
  box-shadow: 10px 10px 8px #468158;
}

.correct {
  background-color: #0ce900;
  font-weight: bold;
  opacity: 100%;
}

.check-ipt {
  display: none;
}
