.header-app {
  font-family: "Press Start 2P", cursive;
  background-color: var(--dgreen);
  border-bottom: 6px solid #03193f;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-stroke: 1.5px #03193f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  max-height: 50px;
  flex: 1;
}

.login-icon {
  flex: 0 0 auto;
  text-align: right;
}

.header-app > h1 {
  padding-left: 50px;
  flex: 1 1 auto;
  text-align: center;
  cursor: pointer;
}
