.question-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 9;
}

.selector-wrapper {
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0 0 0 0;
  width: auto;
  flex: 8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selection {
  flex-grow: 1;
  list-style: none;
  min-width: 40%;
  margin: 20px 20px 20px 20px;
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  color: var(--text-white);
  border: 3px solid #1a1c2c;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
}

.selection:hover {
  background-image: linear-gradient(180deg, #5ac54f, #2a2f4e);
}

.correct-opt {
  background-color: #5ac54f;
}

.incorrect-opt {
  background-color: #ea323c;
}

.disabled {
  background-color: var(--dblue);
}
