.quizpage-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.crt-wrapper {
  display: flex;
  flex-direction: column;
  flex: 9;
  justify-content: center;
}
